.center {
    text-align: center;
}

.panel {
    border: 1px solid black;
    border-radius: 5px;
}

.italic {
    font-style:italic;
}

a:visited.clean,
a:hover.clean,
a:active.clean,
a.clean {
    color:inherit;
    text-decoration: none;
}